* {
  margin: 0;
  background: #131313;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

form textarea,
input {
  margin-bottom: 10px;
}

@media all and (min-width: 600px) {
  form {
    margin: 80px;
  }

  form input {
    max-width: 500px;
  }
}
